@{ ViewData["Title"] = "Our Story";
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
}

<h1>@ViewData["Title"]</h1>

<div id="content">
    <h2>Welcome to Rugs Pride</h2>
    <h3>Our Founder, Manvir Kaur Brar</h3>
    <p>(Our company)</p>
    <img style="width:960px;" src="https://th.bing.com/th/id/R.66c36f24d654be46ea92460035e4b84e?rik=IZ2CpRxYUPB0aA&riu=http%3a%2f%2fppcorrugatedsheets.com%2fimages%2fuserFiles%2fcontents%2fheader-banner%2fcompany-profile1.jpg&ehk=iPBTDkIuRVoOjQXVigdDU8a%2fQVrbeLk%2bWy0hN3K8F6g%3d&risl=&pid=ImgRaw&r=0" />
    <h2>Our Team</h2>
    <h3>CEO: Rupinder Kaur </h3>
    <h3>Our Financer, Harmandeep </h3>
    <h3>Designer: Jasmine Kaur</h3>
    <p>
        Humans have always desired to focus themselves around comfort,
        from the period when cave dwellers used to live in caves until
        the present day. Our head creaftman for carpets was inspired by life in Old age,
        the grandeur of their customs and traditions of different countries, and that is reflected in the majority of these rugs.
        These rugs were incredibly long-lasting. Rug designs and colours evolved more and more
        in cultures, which eventually became the Our rug industry's epicenter.
    </p>
</div>

<style>
    #content {
        max-width: 960px;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
</style>

