@{ ViewData["Title"] = "Home Page";
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
}
<!--Home Page-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>RUGS PRIDE</h1>
    <br />
    <br />
    <h3 id="heading3">Some people look for a beautiful place, Others make a place beautiful!</h3>
    <br />

    <h5>
        And Rugs Pride tries to make your place more homely. We offer you the
        best offers in rugs to buy. We have been colabrated with
        alot of other stores to provide you with best services.
    </h5>
    <br />
    <hr />

    <img style="width:960px; height:600px;" src="https://rugs.rugimg.com/3126041/3000_3000_1_0_midq_s_20_prog_3126041_image_1010.jpg" />

    <h4 id="heading4">The goal as a company is to have customer servic that is not just the best, but legendary.</h4>
</div>

<style>
    .text-center {
        max-width: 960px;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-family: 'Lato', sans-serif;
        background-color: antiquewhite;
    }

    .display-4 {
        background-color: black;
        color: white;
    }

    #heading3 {
        font-family: Arial;
    }

    #heading4 {
        color: white;
        font-size: 2em;
        background-color: darkgray;
    }
</style>
